{% set runsc_args = ["--platform=" ~ sandbox_runsc_platform] %}
{% if sandbox_runsc_hostinet %}{% set _ = runsc_args.append("--network=host") %}{% endif %}
{% set _ = runsc_args.append("--overlay2=" ~ sandbox_runsc_overlay) %}
{
  "runtimes": {
    "runsc": {
      "path": "{{ sandbox_runsc_path }}",
      "runtimeArgs": {{ runsc_args | to_json }}
    }
  },
{% if sandbox_container_dns %}
  "dns": {{ sandbox_container_dns | to_json }},
{% endif %}
{% if sandbox_registry_mirrors %}
  "registry-mirrors": {{ sandbox_registry_mirrors | to_json }},
{% endif %}
  "no-new-privileges": true,
  "icc": false,
  "live-restore": true,
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "3"
  }
}
